﻿@model Cibercentro.Entidades.TipoIngreso

<link href="~/Content/pluggins/sweetalert/css/sweetalert.css" rel="stylesheet" />
<div class="row">
    @using (Html.BeginForm("Editar", "TipoIngreso", FormMethod.Post, new { @id = "form-editar", @class = "col-md-12" }))
    {
        <h3>@ViewData["Title"]</h3>
        <hr />

        <div class="form-row">
            <div class="col-sm-12 col-md-12 text-right">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Grabar</button>
                <a href="/TipoIngreso/Index" class="btn btn-sm btn-secondary"><i class="fa fa-chevron-left"></i> Regresar</a>
            </div>
        </div>
        <hr />
        <div id="mensaje"></div>
        @Html.HiddenFor(m => m.TipoIngresoId)
        <div class="form-group row">
            <label for="Nombre" class="col-sm-2 col-md-2 col-form-label">Nombre: </label>
            <div class="col-sm-10 col-md-10">
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control form-control-sm" })
            </div>
        </div>
        <div class="form-group row">
            <label for="Estado" class="col-sm-2 col-md-2 col-form-label">Estado: </label>
            <div class="col-sm-10 col-md-10">
                @Html.DropDownListFor(m => m.Estado, new SelectList(Cibercentro.Helpers.EnumHelper.ToList<Cibercentro.Entidades.EstadoTipoIngreso>(), "Value", "Name"), new { @class = "form-control form-control-sm" })
            </div>
        </div>
    }
</div>
<script src="~/Content/pluggins/sweetalert/js/sweetalert.min.js"></script>
<script>
    $(function () {
        $("#form-editar").submit(function (e) {
            swal({
                title: "Estas seguro?", text: "Los datos seran grabados", type: "warning",
                confirmButtonColor: "#f2b701", confirmButtonText: "Si", cancelButtonText: "No",
                showCancelButton: true, closeOnConfirm: false, showLoaderOnConfirm: true
            }, function (isConfirm) {
                if (isConfirm) {
                    var model = $("#form-editar").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/TipoIngreso/Editar",
                        data: model,
                        dataType: 'json',
                        beforeSend: function () {
                            $('#form-editar button').attr("disabled", "disabled");
                            $("#mensaje").hide();
                            helper.wait.append('#mensaje');
                        },
                        complete: function () {
                            $('#form-modal-editar button').removeAttr("disabled");
                            helper.wait.remove('#mensaje');
                        },
                        success: function (result) {
                            swal({ title: "Alerta!", text: result.mensaje, type: "success" }, function () {
                                location.href = "/TipoIngreso/Index";
                            });
                        },
                        error: function (result) {
                            swal.close();
                            helper.wait.remove('#mensaje');
                            helper.error.show('#mensaje', result.responseText);
                            $('#form-editar button').removeAttr("disabled");
                        }
                    });
                }
            });
            e.preventDefault();
        });

    });
</script>