﻿@model Cibercentro.Entidades.Ingreso

<link href="~/Content/pluggins/sweetalert/css/sweetalert.css" rel="stylesheet" />
<link href="~/Content/pluggins/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/pluggins/select2/css/select2.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/pluggins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />

<div class="row">
    @using (Html.BeginForm("Editar", "Ingreso", FormMethod.Post, new { @id = "form-editar", @class = "col-md-12" }))
    {
        <h3>@ViewData["Title"]</h3>
        <hr />

        <div class="form-row">
            <div class="col-sm-12 col-md-12 text-right">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Grabar</button>
                <a href="/Ingreso/Index" class="btn btn-sm btn-secondary"><i class="fa fa-chevron-left"></i> Regresar</a>
            </div>
        </div>
        <hr />
        <div id="mensaje"></div>
        @Html.HiddenFor(m => m.IngresoId)
        <div class="form-group row">
            <label for="EmpleadoId" class="col-sm-2 col-md-2 col-form-label text-truncate">Encargado: </label>
            <div class="col-sm-4 col-md-4">
                <select id="EmpleadoId" name="EmpleadoId" class="form-control form-control-sm">
                    @if (Model.EmpleadoId > 0)
                    {
                        <option value="@Model.EmpleadoId" selected>@Model.EmpleadoNombreCompleto</option>
                    }
                </select>
            </div>
            <label for="Fecha" class="col-sm-2 col-md-2 col-form-label text-truncate">Fecha: </label>
            <div class="col-sm-4 col-md-4">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                    </div>
                    @Html.TextBoxFor(m => m.FechaRegistro, Model.FechaRegistro.ToString("dd/MM/yyyy"), new { @class = "form-control form-control-sm datepicker", @autocomplete = "off" })
                </div>
            </div>
        </div>
        if (Model.Detalles != null)
        {
            <hr />
            <table class="table table-bordered">
                <tbody>
                    @{
                        int i = 0;
                        foreach (var detalle in Model.Detalles)
                        {
                            <tr class="thead-dark">
                                <th width="400">
                                    <input type="hidden" name="Detalles[@i].IngresoId" value="@detalle.IngresoId" />
                                    <input type="hidden" name="Detalles[@i].TipoIngresoId" value="@detalle.TipoIngresoId" />
                                    @detalle.TipoIngreso.Nombre
                                </th>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">S/</span>
                                        </div>
                                        <input type="number" step="0.01" name="Detalles[@i].Cantidad" value="@detalle.Cantidad.ToString("###########0.00")" class="form-control form-control-sm text-right" />
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }

                    }
                </tbody>
            </table>

            <hr />
        }
        <div class="form-group row">
            <label for="Observacion" class="col-sm-2 col-md-2 col-form-label text-truncate">Observacion: </label>
            <div class="col-sm-10 col-md-10">
                @Html.TextAreaFor(m => m.Observacion, new { @class = "form-control form-control-sm", @rows = "6" })
            </div>
        </div>
    }
</div>
<script src="~/Content/pluggins/sweetalert/js/sweetalert.min.js"></script>
<script src="~/Content/pluggins/select2/js/select2.min.js"></script>
<script src="~/Content/pluggins/select2/js/i18n/es.js"></script>
<script src="~/Content/pluggins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/pluggins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
<script>
    $(function () {
        $('.datepicker').datepicker({
            language: 'es',
            orientation: 'bottom',
            'autoclose': true,
            format: 'dd/mm/yyyy'
        });
        $("#form-editar").submit(function (e) {

            var model = $("#form-editar").serialize();
            $.get("/Ingreso/ValidarMontoTienda", model, function (data) {
                swal({
                    title: "Estas seguro?", text: data.ok ? "Se guardaran los datos" : "Guardara con unas incosistencias, la venta realizada hoy es: " + helper.format.decimal(data.cantidadVenta), type: "warning",
                    confirmButtonColor: "#f2b701", confirmButtonText: "Si", cancelButtonText: "No",
                    showCancelButton: true, closeOnConfirm: false, showLoaderOnConfirm: true
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "/Ingreso/Editar",
                            data: model,
                            dataType: 'json',
                            beforeSend: function () {
                                $('#form-editar button').attr("disabled", "disabled");
                                $("#mensaje").hide();
                                helper.wait.append('#mensaje');
                            },
                            complete: function () {
                                $('#form-modal-editar button').removeAttr("disabled");
                                helper.wait.remove('#mensaje');
                            },
                            success: function (result) {
                                swal({ title: "Alerta!", text: result.mensaje, type: "success" }, function () {
                                    location.href = "/Ingreso/Index";
                                });
                            },
                            error: function (result) {
                                swal.close();
                                helper.wait.remove('#mensaje');
                                helper.error.show('#mensaje', result.responseText);
                                $('#form-editar button').removeAttr("disabled");
                            }
                        });
                    }
                });
            });


            e.preventDefault();
        });
        $("#EmpleadoId").select2({
            language: "es",
            ajax: {
                url: '/Empleado/GetFirst',
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    return { 'filter.Nombre': params.term, 'filter.Apellido': params.term };
                },
                processResults: function (data) {
                    var lista = [];
                    data.lista.forEach(function (x) { lista.push({ id: x.EmpleadoId, text: x.NombreCompleto }); });
                    return { results: lista };
                }
            },
            minimumInputLength: 2
        });
    });
</script>