﻿@{
    ViewData["Title"] = "Empleado";
}
<div class="row">
    <div class="col-md-12">
        <h3>Lista de empleados</h3>
        <hr />

        <div class="form-row">
            <div class="col-sm-3 col-md-3 mb-2">
                <input type="text" class="form-control form-control-sm" placeholder="Rol" id="FRol" />
            </div>
            <div class="col-sm-4 col-md-4 mb-2">
                <input type="text" class="form-control form-control-sm" placeholder="Nombre" id="FNombre" />
            </div>
            <div class="col-sm-5 col-md-5 mb-2">
                <input type="text" class="form-control form-control-sm" placeholder="Apellido" id="FApellido" />
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-4 col-md-4 mb-2">
                <input type="text" class="form-control form-control-sm" placeholder="Nro documento" id="FNroDocumento" />
            </div>
            <div class="col-sm-8 col-md-8 mb-2">
                <input type="text" class="form-control form-control-sm" placeholder="Correo" id="FCorreo" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12 col-md-12 text-right">
                <button type="button" class="btn btn-sm btn-secondary"><i class="fa fa-search"></i> Buscar</button>
                <a href="/Empleado/Editar" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Nuevo</a>
            </div>
        </div>
        <hr />
        <div class="table-responsive">
            <table id="tblIndex"
                   class="table table-nowrap table-bordered table-hover"
                   data-pagesize="@Cibercentro.WebApp.Common.SettingsManager.PageSize"
                   data-pageindex="1"
                   data-totalrows="0"
                   data-function="usuario_index.Listar"
                   data-paginator="paginator">
                <thead>
                    <tr class="thead-dark">
                        <th width="40"></th>
                        <th width="20">Nº</th>
                        <th>Rol</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Tipo Documento</th>
                        <th>Nro Documento</th>
                        <th>Correo</th>
                        <th width="150">Estado</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="form-row">
            <div class="col-md-12 text-right" id="paginator"></div>
        </div>
    </div>
</div>
<script>

    var usuario_index = {
        Listar: function (page) {
            var table = $("#tblIndex");
            var model = {
                'filter.Rol': $('#FRol').val(),
                'filter.Nombre': $('#FNombre').val(),
                'filter.Apellido': $('#FApellido').val(),
                'filter.NroDocumento': $('#FNroDocumento').val(),
                'filter.Correo': $('#FCorreo').val(),
                'pageIndex': page,
                'pageSize': table.data('pagesize')
            };
            $.ajax({
                url: "/Empleado/GetAllLikePagin",
                type: "GET",
                data: model,
                dataType: "json",
                success: function (data) {
                    table.data('pageindex', page);
                    table.data('totalrows', data.totalRows);
                    usuario_index.GenerarTabla(table, data.lista);
                    if (data.totalRows === 0) table.children('tbody').append("<tr><td colspan='9' class='text-center text-bold'>No existen registros</td></td>");
                },
                error: function (data) {
                    helper.error.show('msgIndex', data.responseText);
                }
            });
        },
        GenerarTabla: function (table, lista) {
            var tbody = table.children('tbody');
            tbody.children('tr').remove();
            var rows = '';
            var numero = (table.data('pagesize') * table.data('pageindex')) - table.data('pagesize');
            $.each(lista, function (i, r) {
                rows += '<tr>';
                rows += '<td class="text-center"><ul class="list-inline">';
                rows += helper.string.format('<li class="list-inline-item"><a href="/Empleado/Editar/{0}" title="Editar"><i class="fa fa-pencil text-warning"></i></a></li>', r.EmpleadoId);
                rows += helper.string.format('<li class="list-inline-item"><a href="/Pago/Index/{0}" title="Pagos"><i class="fa fa-credit-card text-primary"></i></a></li>', r.EmpleadoId);
                rows += '</ul></td>';
                rows += helper.string.format('<td class="text-right">{0}</td>', ++numero);
                rows += $('<td>', { text: r.NRol }).prop('outerHTML');
                rows += $('<td>', { text: r.Nombre }).prop('outerHTML');
                rows += $('<td>', { text: r.Apellido }).prop('outerHTML');
                rows += $('<td>', { text: r.TipoDocumento }).prop('outerHTML');
                rows += $('<td>', { text: r.NroDocumento }).prop('outerHTML');
                rows += $('<td>', { text: r.Correo }).prop('outerHTML');
                rows += $('<td>', { text: r.Estado, class: "text-center" }).prop('outerHTML');
                rows += '</tr>';
            });
            helper.pagination.update(table);
            tbody.append(rows);
        }
    };
    $(function () {
        $('input[type="text"]').keypress(function (e) {
            var key = e.keyCode || event.keyCode;
            if (key === 13) usuario_index.Listar(1);
        });
        usuario_index.Listar(1);
    });
</script>