﻿@model Cibercentro.Entidades.OrdenVenta

<link href="~/Content/pluggins/sweetalert/css/sweetalert.css" rel="stylesheet" />
<link href="~/Content/pluggins/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/pluggins/select2/css/select2.bootstrap4.css" rel="stylesheet" />
<link href="~/Content/pluggins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />


<div class="row">
    @using (Html.BeginForm("Editar", "OrdenVenta", FormMethod.Post, new { @id = "form-editar", @class = "col-md-12" }))
    {
        <h3>@ViewData["Title"]</h3>
        <hr />

        <div class="form-row">
            <div class="col-sm-12 col-md-12 text-right">
                <button type="button" class="btn btn-sm btn-primary" id="btnGuardar"><i class="fa fa-save"></i> Grabar</button>
                <a href="/OrdenVenta/Index" class="btn btn-sm btn-secondary"><i class="fa fa-chevron-left"></i> Regresar</a>
            </div>
        </div>
        <hr />
        <div id="mensaje"></div>
        @Html.HiddenFor(m => m.Codigo)
        <div class="form-group row">
            <label for="Codigo" class="col-sm-2 col-md-2 col-form-label text-truncate">Codigo: </label>
            <div class="col-sm-4 col-md-4">
                @Html.TextBox("Codigo_R", Model.Codigo, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>
            <label for="Fecha" class="col-sm-2 col-md-2 col-form-label text-truncate">Fecha: </label>
            <div class="col-sm-4 col-md-4">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                    </div>
                    @Html.TextBoxFor(m => m.FechaCreacion, Model.FechaCreacion.ToString("dd/MM/yyyy"), new { @class = "form-control form-control-sm", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group row">
            <div class="col-sm-6 col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" placeholder="Ingrese codigo de barras" id="FiltroCodigo" autofocus="" autocomplete="off" />
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary" type="button" id="btnBuscarCodigo"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <select class="form-control form-control-sm" id="FiltroNombre"></select>
            </div>
        </div>
        <hr />
        <div class="table-responsive">
            <table class="table table-condensed table-hover" id="tblDetalle">
                <thead>
                    <tr class="thead-dark">
                        <th>Producto</th>
                        <th width="150">Cantidad</th>
                        <th width="150">Stock</th>
                        <th width="150">Precio</th>
                        <th width="150">SubTotal</th>
                        <th width="20"></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr class="thead-light">
                        <th colspan="4" class="text-bold text-right">Total</th>
                        <th>S/ <span class="total pull-right">0.00</span></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
</div>
<script src="~/Content/pluggins/sweetalert/js/sweetalert.min.js"></script>
<script src="~/Content/pluggins/select2/js/select2.min.js"></script>
<script src="~/Content/pluggins/select2/js/i18n/es.js"></script>
<script src="~/Content/pluggins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/pluggins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
<script>

    var listaProductos = null;
    $(function () {
        $("#FiltroCodigo").keypress(function (e) {
            var key = e.keyCode || event.keyCode;
            if (key === 13) $("#btnBuscarCodigo").click();
        });

        $("#btnBuscarCodigo").click(function (e) {
            var codigo = $("#FiltroCodigo").val();
            if (codigo != null && codigo.trim().length > 0) {
                var producto = listaProductos.find(function (r) { return r.Codigo === codigo; });
                if (producto) {
                    var trproducto = $('#tblDetalle tr[data-id="' + producto.ProductoId + '"]');
                    var i = $("#tblDetalle tbody tr").length;
                    if (trproducto.length > 0) {
                        var input = trproducto.find('input[type="number"]');
                        input.val((input.val() * 1) + 1);
                    } else {
                        var table = $('#tblDetalle tbody'),
                            tr = $('<tr>', { 'data-id': producto.ProductoId });
                        
                        tr.append($('<td>', { text: producto.Nombre }).append('<input type="hidden" name="Detalles[' + i + '].ProductoId" value="' + producto.ProductoId + '" />'));
                        tr.append($('<td>').append($('<input>', { type: 'number', min: '1', value: '1', step: '1', class: 'form-control form-control-sm text-right', name: 'Detalles[' + i + '].Cantidad' })));
                        tr.append($('<td>', { text: producto.Stock, class: "text-right" }));
                        tr.append($('<td>', { text: helper.format.decimal(producto.Precio), class: 'text-right precio' }).append('<input type="hidden" name="Detalles[' + i + '].Precio" value="' + producto.Precio + '" />'));
                        tr.append($('<td>', { text: helper.format.decimal(producto.Precio), class: 'text-right subtotal' }).append('<input type="hidden" name="Detalles[' + i + '].CodigoOrdenVenta" value="' + $('#Codigo').val() + '" />'));
                        tr.append($('<td>', { class: 'text-center' }).append('<a href="javascript:Eliminar(' + i + ')" style="font-size: 20px;"><i class="fa fa-trash text-danger"></i></a>'));

                        table.append(tr);
                    }
                    ActualizarTabla();
                }
                $("#FiltroCodigo").val(null);
            }
            e.preventDefault();
        });
        $('#form-editar').submit(e => { e.preventDefault(); });
        
        $('#btnGuardar').click(function (e) {
            swal({
                title: "Estas seguro?", text: "Los datos seran grabados", type: "warning",
                confirmButtonColor: "#f2b701", confirmButtonText: "Si", cancelButtonText: "No",
                showCancelButton: true, closeOnConfirm: false, showLoaderOnConfirm: true
            }, function (isConfirm) {
                if (isConfirm) {
                    var model = $("#form-editar").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/OrdenVenta/Editar",
                        data: model,
                        dataType: 'json',
                        beforeSend: function () {
                            $('#form-editar button').attr("disabled", "disabled");
                            $("#mensaje").hide();
                            helper.wait.append('#mensaje');
                        },
                        complete: function () {
                            $('#form-modal-editar button').removeAttr("disabled");
                            helper.wait.remove('#mensaje');
                        },
                        success: function (result) {
                            swal({ title: "Alerta!", text: result.mensaje, type: "success" }, function () {
                                location.href = "/OrdenVenta/Index";
                            });
                        },
                        error: function (result) {
                            swal.close();
                            helper.wait.remove('#mensaje');
                            helper.error.show('#mensaje', result.responseText);
                            $('#form-editar button').removeAttr("disabled");
                        }
                    });
                }
            });
            e.preventDefault();
        });

        var wto;
        $('#tblDetalle').delegate('input[name$="].Cantidad"]', 'change', function () {
            clearTimeout(wto);
            wto = setTimeout(function () {
                ActualizarTabla();
            }, 500);
        });
        ListarProductos();
        $('#FiltroNombre').select2({
            placeholder: 'Seleccione un producto',
            allowClear: true,
            data: listaProductos.map(function (x) { return { id: x.ProductoId, text: x.Nombre, }; })
        }).on('select2:select', function (e) {
            var id = $(this).val();
            var producto = listaProductos.find(function (r) { return r.ProductoId == id; });
            var i = $("#tblDetalle tbody tr").length;
            var trproducto = $('#tblDetalle tr[data-id="' + id + '"]');
            if (trproducto.length > 0) {
                var input = trproducto.find('input[type="number"]');
                input.val((input.val() * 1) + 1);
            } else {
                var table = $('#tblDetalle tbody'),
                    tr = $('<tr>', { 'data-id': producto.ProductoId });
                tr.append($('<td>', { text: producto.Nombre }).append('<input type="hidden" name="Detalles[' + i + '].ProductoId" value="' + producto.ProductoId + '" />'));
                tr.append($('<td>').append($('<input>', { type: 'number', min: '1', value: '1', step: '1', class: 'form-control form-control-sm text-right', name: 'Detalles[' + i + '].Cantidad' })));
                tr.append($('<td>', { text: producto.Stock, class: "text-right" }));
                tr.append($('<td>', { text: helper.format.decimal(producto.Precio), class: 'text-right precio' }).append('<input type="hidden" name="Detalles[' + i + '].Precio" value="' + producto.Precio + '" />'));
                tr.append($('<td>', { text: helper.format.decimal(producto.Precio), class: 'text-right subtotal' }).append('<input type="hidden" name="Detalles[' + i + '].CodigoOrdenVenta" value="' + $('#Codigo').val() + '" />'));
                tr.append($('<td>', { class: 'text-center' }).append('<a href="javascript:Eliminar(' + i + ')" style="font-size: 20px;"><i class="fa fa-trash text-danger"></i></a>'));
                table.append(tr);
            }
            ActualizarTabla();
        });

    });

    function ListarProductos() {
        $.ajax({
            type: "GET",
            url: '/Producto/GetAll',
            dataType: 'json',
            async: false,
            success: function (data) {
                listaProductos = data;
            }
        });
    }

    function ActualizarTabla() {
        var total = 0;
        $.each($('#tblDetalle tbody tr'), function (i, tr) {
            $(tr).find('input[name$="].CodigoOrdenVenta"]').attr('name', 'Detalles[' + i + '].CodigoOrdenVenta');
            $(tr).find('input[name$="].ProductoId"]').attr('name', 'Detalles[' + i + '].ProductoId');
            $(tr).find('input[name$="].Precio"]').attr('name', 'Detalles[' + i + '].Precio');
            $(tr).find('input[name$="].Cantidad"]').attr('name', 'Detalles[' + i + '].Cantidad');
            $(tr).find('a').attr('href', 'javascript:Eliminar(' + i + ')');
            
            var precio = $(tr).find('td.precio').text();
            var cantidad = $(tr).find('input[type="number"]').val();
            $(tr).find('td.subtotal').text(helper.format.decimal(precio * cantidad));
            total += precio * cantidad;
        })
        $('#tblDetalle tfoot span.total').text(helper.format.decimal(total));
    }

    function Eliminar(i) {
        $($('#tblDetalle tbody tr')[i]).remove();
        ActualizarTabla();
    }
</script>