﻿
@{
    ViewBag.Title = "Orden Venta";
}
<link href="~/Content/pluggins/sweetalert/css/sweetalert.css" rel="stylesheet" />
<link href="~/Content/pluggins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <h3>Lista de ventas</h3>
        <hr />
        <div class="form-row">
            <div class="col-sm-3 col-md-3 mb-2">
                <input type="text" class="form-control form-control-sm" placeholder="Codigo" id="FCodigo" />
            </div>
            <div class="col-sm-5 col-md-5 mb-2">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-sm" placeholder="Encargado" id="FEmpleado" />
                </div>
            </div>
            <div class="col-sm-4 col-md-4 mb-2">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input class="form-control form-control-sm datepicker" placeholder="Fecha" id="FFecha" autocomplete="off" disabled="disabled" />
                </div>
            </div>
            <div class="col-sm-12 col-md-12 text-right">
                <button id="btnBuscar" type="button" class="btn btn-sm btn-secondary"><i class="fa fa-search"></i> Buscar</button>
                <a href="/OrdenVenta/Editar" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Nuevo</a>
            </div>
        </div>
        <div id="mensaje"></div>
        <hr />
        <div class="table-responsive">
            <table id="tblIndex"
                   class="table table-bordered table-hover table-nowrap"
                   data-pagesize="@Cibercentro.WebApp.Common.SettingsManager.PageSize"
                   data-pageindex="1"
                   data-totalrows="0"
                   data-function="ordenventa_index.Listar"
                   data-paginator="paginator">
                <thead>
                    <tr class="thead-dark">
                        <th width="40"></th>
                        <th width="20">Nº</th>
                        <th width="150">Correlativo</th>
                        <th>Creador</th>
                        <th width="150">Fecha</th>
                        <th width="150">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="form-row">
            <div class="col-md-12 text-right" id="paginator"></div>
        </div>
    </div>
</div>

<div class="modal" id="modal" role="dialog">
    <div id="ventana-editar"></div>
</div>

<script src="~/Content/pluggins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/pluggins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
<script src="~/Content/pluggins/sweetalert/js/sweetalert.min.js"></script>
<script>

    var ordenventa_index = {
        Listar: function (page) {
            var table = $("#tblIndex");
            var model = {
                'filter.Codigo': $("#FCodigo").val(),
                'filter.Empleado': $("#FEmpleado").val(),
                'pageIndex': page,
                'pageSize': table.data('pagesize')
            };
            $.ajax({
                url: "/OrdenVenta/GetAllLikePagin",
                type: "GET",
                data: model,
                dataType: "json",
                success: function (data) {
                    table.data('pageindex', page);
                    table.data('totalrows', data.totalRows);
                    ordenventa_index.GenerarTabla(table, data.lista);
                    if (data.totalRows === 0) table.children('tbody').append("<tr><td colspan='6' class='text-center text-bold'>No existen registros</td></td>");
                },
                error: function (data) {
                    helper.error.show('msgIndex', data.responseText);
                }
            });
        },
        GenerarTabla: function (table, lista) {
            var tbody = table.children('tbody');
            tbody.children('tr').remove();
            var rows = '';
            var numero = (table.data('pagesize') * table.data('pageindex')) - table.data('pagesize');
            $.each(lista, function (i, r) {
                rows += helper.string.format('<tr class="{0}">', r.Estado == 2 ? "table-danger" : "");
                rows += '<td class="text-center"><ul class="list-inline">';
                if (r.Estado == 1) {
                    rows += helper.string.format('<li class="list-inline-item"><a href="javascript:ordenventa_index.Anular(\'{0}\')" title="Anular"><i class="fa fa-trash text-danger"></i></a></li>', r.Codigo);
                }
                rows += helper.string.format('<li class="list-inline-item"><a href="javascript:ordenventa_index.Ver(\'{0}\')" title="Ver"><i class="fa fa-eye text-primary"></i></a></li>', r.Codigo);
                rows += '</ul></td>';
                rows += helper.string.format('<td class="text-right">{0}</td>', ++numero);
                rows += $('<td>', { text: r.Codigo, class: "text-center" }).prop('outerHTML');
                rows += $('<td>', { text: r.Nombre }).prop('outerHTML');
                rows += $('<td>', { text: r.FechaCreacion, class: "text-center" }).prop('outerHTML');
                rows += $('<td>', { text: r.Total, class: "text-right" }).prop('outerHTML');
                rows += '</tr>';
            });
            helper.pagination.update(table);
            tbody.append(rows);
        },
        Anular: function (codigo) {
            swal({
                title: "¿Esta seguro de anular la venta?", type: "warning",
                confirmButtonColor: "#f2b701", confirmButtonText: "Si", cancelButtonText: "No",
                showCancelButton: true, closeOnConfirm: false, showLoaderOnConfirm: true
            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        url: "/OrdenVenta/Anular",
                        data: { id: codigo },
                        dataType: 'json',
                        beforeSend: function () {
                            $('#form-editar button').attr("disabled", "disabled");
                            $("#mensaje").hide();
                            helper.wait.append('#mensaje');
                        },
                        complete: function () {
                            $('#form-modal-editar button').removeAttr("disabled");
                            helper.wait.remove('#mensaje');
                        },
                        success: function (result) {
                            swal({ title: "Alerta!", text: result.mensaje, type: "success" }, function () {
                                ordenventa_index.Listar($('#tblIndex').data('pageindex'));
                            });
                        },
                        error: function (result) {
                            swal.close();
                            helper.wait.remove('#mensaje');
                            helper.error.show('#mensaje', result.responseText);
                            $('#form-editar button').removeAttr("disabled");
                        }
                    });
                }
            });
        },
        Ver: function (codigo) {
            $.ajax({
                type: "GET",
                url: '/OrdenVenta/Ver',
                data: { id: codigo },
                cache: false,
                beforeSend: function () {
                    helper.wait.modal('ventana-editar');
                    $('#modal').modal('show');
                },
                success: function (data) {
                    $('#ventana-editar').html(data);
                },
                error: function (result) {
                    $('#modal').modal('hide');
                    helper.error.show('#mensaje', result.responseText);
                }
            });
        }
    };
    $(function () {
        $('.datepicker').datepicker({
            language: 'es',
            orientation: 'bottom',
            'autoclose': true,
            format: 'dd/mm/yyyy'
        });
        $('input[type="text"]').keypress(function (e) {
            var key = e.keyCode || event.keyCode;
            if (key == 13) ordenventa_index.Listar(1);
        });
        ordenventa_index.Listar(1);
    });
</script>