﻿
@{
    ViewBag.Title = "Reporte Consolidado";

    List<Cibercentro.Entidades.Ingreso> ingresos = ViewBag.ListaIngreso ?? new List<Cibercentro.Entidades.Ingreso>();
    List<Cibercentro.Entidades.Egreso> egresos = ViewBag.ListaEgreso ?? new List<Cibercentro.Entidades.Ingreso>();
    List<Cibercentro.Entidades.Pago> pagos = ViewBag.ListaPago ?? new List<Cibercentro.Entidades.Pago>();

    DateTime desde = ViewBag.Desde != null ? ViewBag.Desde : DateTime.Today.AddMonths(-1),
    hasta = ViewBag.Hasta != null ? ViewBag.Hasta : DateTime.Today;
    int nRegistros = 0;
}

<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<link href="~/Content/pluggins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<style>
    #chartdiv, #chartNeto {
        width: 100%;
        height: 500px;
    }
</style>
<h3>@ViewData["Title"]</h3>
<hr />
<div class="row">
    @using (Html.BeginForm("Consolidado", "Reporte", FormMethod.Get, new { @id = "", @class = "col-md-12" }))
    {
        <div class="form-row row">
            <label for="Desde" class="col-sm-2 col-md-2 col-form-label text-truncate">Desde: </label>
            <div class="col-sm-3 col-md-3">
                <input name="Desde" class="form-control form-control-sm datepicker" value="@desde.ToString("dd/MM/yyyy")" autocomplete="off" />
            </div>
            <label for="Hasta" class="col-sm-2 col-md-2 col-form-label text-truncate">Hasta: </label>
            <div class="col-sm-3 col-md-3">
                <input name="Hasta" class="form-control form-control-sm datepicker" value="@hasta.ToString("dd/MM/yyyy")" autocomplete="off" />
            </div>
            <div class="col-sm-2 col-md-2 text-center">
                <button type="submit" class="btn btn-sm btn-secondary"><i class="fa fa-search"></i> Buscar</button>
            </div>
        </div>
    }
</div>
<br />
<h4 class="text-warning">Ingresos y Egresos</h4>
<hr />

<div id="chartdiv"></div>
<br />

<div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <caption>Consolidado por mes</caption>
        <thead>
            <tr class="table-secondary">
                <th scope="col">Fecha / Tipo</th>
                @for (DateTime inicio = desde; inicio.Month <= hasta.Month && inicio.Year <= hasta.Year; inicio = inicio.AddMonths(1))
                {
                    <th>@inicio.ToString("MM/yyyy")</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr class="table-success">
                <th scope="col">Ingreso</th>
                @for (DateTime inicio = desde; inicio.Month <= hasta.Month && inicio.Year <= hasta.Year; inicio = inicio.AddMonths(1))
                {
                    nRegistros = ingresos.Count(x => x.FechaRegistro.Month == inicio.Month && x.FechaRegistro.Year == inicio.Year);
                    <td class="text-right">@(nRegistros > 0 ? ingresos.Where(x => x.FechaRegistro.Month == inicio.Month && x.FechaRegistro.Year == inicio.Year).Sum(x => x.Cantidad) : 0)</td>
                }
            </tr>
            <tr class="table-warning">
                <th scope="col">Egreso</th>
                @for (DateTime inicio = desde; inicio.Month <= hasta.Month && inicio.Year <= hasta.Year; inicio = inicio.AddMonths(1))
                {
                    nRegistros = egresos.Count(x => x.FechaRegistro.Month == inicio.Month && x.FechaRegistro.Year == inicio.Year);
                    <td class="text-right">@(nRegistros > 0 ? egresos.Where(x => x.FechaRegistro.Month == inicio.Month && x.FechaRegistro.Year == inicio.Year).Sum(x => x.Cantidad) : 0)</td>
                }
            </tr>

            <tr class="table-danger">
                <th scope="col">Pagos</th>
                @for (DateTime inicio = desde; inicio.Month <= hasta.Month && inicio.Year <= hasta.Year; inicio = inicio.AddMonths(1))
                {
                    nRegistros = pagos.Count(x => x.FechaCreacion.Month == inicio.Month && x.FechaCreacion.Year == inicio.Year);
                    <td class="text-right">@(nRegistros > 0 ? pagos.Where(x => x.FechaCreacion.Month == inicio.Month && x.FechaCreacion.Year == inicio.Year).Sum(x => x.Total) : 0)</td>
                }
            </tr>
            <tr class="table-info">
                <th scope="col">Neto</th>
                @for (DateTime inicio = desde; inicio.Month <= hasta.Month && inicio.Year <= hasta.Year; inicio = inicio.AddMonths(1))
                {
                    <td class="text-right">@(ingresos.Where(x => x.FechaRegistro.Month == inicio.Month && x.FechaRegistro.Year == inicio.Year).Sum(x => x.Cantidad) - egresos.Where(x => x.FechaRegistro.Month == inicio.Month && x.FechaRegistro.Year == inicio.Year).Sum(x => x.Cantidad) - pagos.Where(x => x.FechaCreacion.Month == inicio.Month && x.FechaCreacion.Year == inicio.Year).Sum(x => x.Total))</td>
                }
            </tr>
        </tbody>
    </table>
</div>

<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="~/Content/pluggins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/pluggins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>

<script>
    $(function () {
        $('.datepicker').datepicker({
            language: 'es',
            orientation: 'bottom',
            'autoclose': true,
            format: 'dd/mm/yyyy'
        });
    });
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "addClassNames": true,
        "theme": "light",
        "balloon": {
            "adjustBorderColor": false,
            "horizontalPadding": 10,
            "verticalPadding": 8,
            "color": "#ffffff"
        },

        "dataProvider": [
        @{
             for (DateTime inicio = desde; inicio.Month <= hasta.Month && inicio.Year <= hasta.Year; inicio = inicio.AddMonths(1))
             {

                @: {

                @: "date": "@inicio.ToString("MMMM/yyyy")",
                nRegistros = ingresos.Count(x => x.FechaRegistro.Month == inicio.Month && x.FechaRegistro.Year == inicio.Year);
                @: "ingreso" : @(nRegistros > 0 ? ingresos.Where(x => x.FechaRegistro.Month == inicio.Month && x.FechaRegistro.Year == inicio.Year).Sum(x => x.Cantidad): 0),

                nRegistros = egresos.Count(x => x.FechaRegistro.Month == inicio.Month && x.FechaRegistro.Year == inicio.Year);
                @: "egreso": @(nRegistros > 0 ? egresos.Where(x => x.FechaRegistro.Month == inicio.Month && x.FechaRegistro.Year == inicio.Year).Sum(x => x.Cantidad): 0),

                nRegistros = pagos.Count(x => x.Desde.Month == inicio.Month && x.Desde.Year == inicio.Year);
                @: "pagos" : @(nRegistros > 0 ? pagos.Where(x => x.FechaCreacion.Month == inicio.Month && x.FechaCreacion.Year == inicio.Year).Sum(x => x.Total): 0)
                @: },
             }
        }
        ],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left"
        }],
        "startDuration": 1,
        "graphs": [
            {
            "alphaField": "alpha",
            "balloonText": "<span style='font-size:12px;'>[[title]] en [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
            "fillAlphas": 1,
            "title": "Ingreso",
            "type": "column",
            "valueField": "ingreso",
            "dashLengthField": "dashLengthColumn"
            }, {
            "id": "graph2",
            "balloonText": "<span style='font-size:12px;'>[[title]] en [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
            "bullet": "round",
            "lineThickness": 3,
            "bulletSize": 7,
            "bulletBorderAlpha": 1,
            "bulletColor": "#FFFFFF",
            "useLineColorForBulletBorder": true,
            "bulletBorderThickness": 3,
            "fillAlphas": 0,
            "lineAlpha": 1,
            "title": "Egreso",
            "valueField": "egreso",
            "dashLengthField": "dashLengthLine"
            }, {
                "id": "graph3",
                "balloonText": "<span style='font-size:12px;'>[[title]] en [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                "bullet": "round",
                "lineThickness": 3,
                "bulletSize": 7,
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "useLineColorForBulletBorder": true,
                "bulletBorderThickness": 3,
                "fillAlphas": 0,
                "lineAlpha": 1,
                "title": "Pagos",
                "valueField": "pagos",
                "dashLengthField": "dashLengthLine"
            }
        ],
        "categoryField": "date",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 0,
            "tickLength": 0,

            "labelRotation": 45
        },
        "export": {
            "enabled": false
        }
    });
</script>
