﻿@model Cibercentro.Entidades.Producto
@{
    ViewBag.Title = "Editar";
}

<link href="~/Content/pluggins/sweetalert/css/sweetalert.css" rel="stylesheet" />

<div class="row">
    @using (Html.BeginForm("Editar", "Producto", FormMethod.Post, new { @id = "form-editar", @class = "col-md-12" }))
    {
        <h3>@ViewData["Title"]</h3>
        <hr />
        <div class="form-row">
            <div class="col-sm-12 col-md-12 text-right">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Grabar</button>
                <a href="/Producto/Index" class="btn btn-sm btn-secondary"><i class="fa fa-chevron-left"></i> Regresar</a>
            </div>
        </div>
        <hr />
        <div id="mensaje"></div>
        @Html.HiddenFor(m => m.ProductoId)
        <div class="form-group row">
            <label for="Codigo" class="col-sm-2 col-md-2 col-form-label text-truncate">Codigo: </label>
            <div class="col-sm-4 col-md-4">
                @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control form-control-sm" })
            </div>
            <label for="Precio" class="col-sm-2 col-md-2 col-form-label text-truncate">Precio: </label>
            <div class="col-sm-4 col-md-4">
                @Html.TextBoxFor(m => m.Precio, new { @class = "form-control form-control-sm text-right", @type = "number", @step = "0.01" })
            </div>
        </div>
        <div class="form-group row">
            <label for="Nombre" class="col-sm-2 col-md-2 col-form-label text-truncate">Nombre: </label>
            <div class="col-sm-5 col-md-5">
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control form-control-sm" })
            </div>
            <label for="Stock" class="col-sm-2 col-md-2 col-form-label text-truncate">Stock: </label>
            <div class="col-sm-3 col-md-3">
                @Html.TextBoxFor(m => m.Stock, new { @class = "form-control form-control-sm text-right", @type = "number", @step = "1" })
            </div>
        </div>
    }
</div>
<script src="~/Content/pluggins/sweetalert/js/sweetalert.min.js"></script>
<script>
    $(function () {
        $("#form-editar").submit(function (e) {
            swal({
                title: "Estas seguro?", text: "Los datos seran grabados", type: "warning",
                confirmButtonColor: "#f2b701", confirmButtonText: "Si", cancelButtonText: "No",
                showCancelButton: true, closeOnConfirm: false, showLoaderOnConfirm: true
            }, function (isConfirm) {
                if (isConfirm) {
                    var model = $("#form-editar").serialize();
                    $.ajax({
                        type: "POST",
                        url: "/Producto/Editar",
                        data: model,
                        dataType: 'json',
                        beforeSend: function () {
                            $('#form-editar button').attr("disabled", "disabled");
                            $("#mensaje").hide();
                            helper.wait.append('#mensaje');
                        },
                        complete: function () {
                            $('#form-modal-editar button').removeAttr("disabled");
                            helper.wait.remove('#mensaje');
                        },
                        success: function (result) {
                            swal({ title: "Alerta!", text: result.mensaje, type: "success" }, function () {
                                location.href = "/Producto/Index";
                            });
                        },
                        error: function (result) {
                            swal.close();
                            helper.wait.remove('#mensaje');
                            helper.error.show('#mensaje', result.responseText);
                            $('#form-editar button').removeAttr("disabled");
                        }
                    });
                }
            });
            e.preventDefault();
        });
    });
</script>