﻿
<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>&nbsp; @Model &nbsp;</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="/Account/Logout">Cerrar Sesion</a>
        </div>
    </li>
</ul>