﻿
@{
    ViewBag.Title = "Acceso Denegado";
}
<div class="row text-center">
    <div class="col-md-12">
        <p class="text-danger" style="font-size: 80px"> <i class="fa fa-hand-paper-o"></i> 403</p>
        <p style="font-size: 50px; font-weight: bold;" class="text-dark">Acceso Denegado</p>
    </div>
</div>
